body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#svgContainer {
  width: 80%;
  margin: 20px 0;
}

#editor {
  width: 80%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#editor h2 {
  margin-top: 0;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.building {
  fill: #1d3d4f;
  cursor: pointer; /* Lägg till en pekare för att indikera att elementen är klickbara */
}

.building:hover {
  fill: #ff8080; /* Ändra färg vid hover */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .running-text {
      font-size: 50px;
      top: 10px;
      left: 10px;
  }

  .menu {
      bottom: 20px;
      right: 20px;
  }

  .menu a {
      font-size: 30px;
  }
}

@media (max-width: 480px) {
  .running-text {
      font-size: 30px;
      top: 5px;
      left: 5px;
  }

  .menu {
      bottom: 10px;
      right: 10px;
  }

  .menu a {
      font-size: 20px;
  }
}